<div class="row">
  	<div class="start">
		<div class="start_msg">
			Find out if your next skincare product will make you break out.
		</div> 
		<div class="sub_msg">
			<div class="sub_msg_text">[ what ]</div></br>
			A skincare product-induced breakout prediction tool.
			</div>
		<div class="sub_msg">
			<div class="sub_msg_text">[ how ]</div></br>
			We compare the products you've tried with success and the products that broke you out.</br> 
			What you get is a list of potentially breakout-causing ingredients to avoid in your next product pick.
		</div>
		<div class="btn_wrapper">
		 	<%= link_to(myproducts_path) do %><div class="welcome_btn">Click Here to Start</div><% end %>
		</div>
	 	
	 	<div class="start_stat">

	 	</div>
	</div>
</div>