<div class="row">

    <h3>Thanks for making a product suggestion. </br>
      We will update our database shortly.</h3>
    
    <div class="suggest_content">
     <p>
    <%= link_to 'Suggest more products', new_suggest_path, id: 'add_back_btn' %>
    <%= link_to 'Back', root_path, id: 'add_back_btn' %>
    </p>
    </div>
</div>

