
<h3>Profile</h3>
<div class="row">
	<p>First Name: <%= @user.first_name %></p>
	<p>Last Name: <%= @user.last_name %></p>
	<p>Email: <%= @user.email %></p>
	<%= link_to edit_user_path(@user) do %><div class="submit_btn">Edit</div><% end %>
</div>
