<div class="row">
  
<h3>Privacy Policy</h3>
<p>Last Updated: Oct. 5, 2017
</p>
<p>
This is Trial&’s (“Trial&,” “we,” “our” or “us”) Privacy Policy. This Privacy Policy applies to www.trialn.com and our mobile platforms. Please read this Privacy Policy, which, among other things, describes how we collect, use, protect and disclose your information. It also describes your choices regarding the use, access and correction of your personal information.
</p>
<p>
We collect information from you when you register on the site, respond to a survey or communication such as e-mail, or participate in another site feature.
When registering, we may ask you for your name, e-mail address, mailing address, phone number, or other information. You may, however, visit our site anonymously.
Like many websites, we use "cookies" to enhance your experience and gather information about visitors and visits to our websites. Please refer to the "Do we use 'cookies'?" section below for information about cookies and how we use them.
</p>
<p>
How do we use your information?   
</p>
<p>
We may use the information we collect from you when you register, respond to a survey or communication, surf the website, or use certain other site features in the following ways:
</p>
<p>
- To personalize your site experience and to allow us to deliver the type of content and product offerings in which you are most interested.</br>
- To allow us to better service you in responding to your service requests.</br>
- To administer a survey or other site feature.</br>
</p>
<p>
How do we protect visitor information?   
</p>
<p>
We implement a variety of security measures to maintain the safety of your personal information. Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential.
</p>
<p>
  Do we use "cookies"? 
</p>
<p>
  Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.  We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.  You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Mozilla Firefox or Internet Explorer) settings. Each browser is a little different, so look at your browser Help menu to learn the correct way to modify your cookies. If you turn cookies off, you won't have access to many features that make your site experience more efficient and some of our services will not function properly.   
</p>
<p>
Do we disclose the information we collect to outside parties?   
</p>
<p>
We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice, except as described below. It also does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.  However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.  
</p>
<p>
Third party links  
</p>
<p>
 Due to the nature of Trial&, we have included third party links on our site. These linked sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these linked sites.  
</p>
<p>
Change to Policy 
</p>
<p>
Any change to this privacy policy will be reflected on this page without notice. Such changes will become effective upon its update on this page. You are advised to read, review and understand this page on a regular basis to ensure that you are well-informed about our privacy practices and updated with any amendment made thereto from time to time. 

 </div>