<div class="row">
  
<h3>Activate Account</h3>

<div class="why_login">>>> Thanks for signing up! We've just sent an account activation email to your email address.</br>>>> Please check your inbox, or junk/spam folder, to activate your account.</div> 


<%= link_to login_path, class: "submit_btn" do %>Back to Login<% end %>

 </div>