<div class="row">
  <div id="brand">
    <h3><%= @breakout_product_manual.brand %></h3>
  </div>
  <div id="product">
    <h4><%= @breakout_product_manual.product %></h4>
  </div>
  <p>
    <div class="product_img_manual">no image (manually added product)
    </div>
  </p>
  <p>
    <div id="product_type">
    Category: <%= @breakout_product_manual.product_type.gsub(";", " | ") %>
  </div>
  </p>
  <p>
  	<div id="ingredient">
  	Ingredients: 
    <% if @breakout_product_manual.ingredients %>
    <%= @breakout_product_manual.ingredients %>
    <% else %>
    No ingredient list found.
    <% end %> 
  </div>
  </p>
</div>