<div class="row">
  
<h3>Blog Posts</h3>

<h4>Breakout causing ingredient list - Update 1</h4>
<h5>Revised: Dec. 14, 2017</h5>
<p>1. Acetylated Lanolin</p>

<p>Lanolin is a natural ingredient produced by a sheep skin to keep their wool soft, just like we produce sebum to keep our skin soft. Lanolin is used in cosmetics and skin care products to provide softness and moisturization, but unfortunately it is highly comodegenic and rated on a scale of one to five for it’s pore clogging abilities, lanolin rates as high as a four out of five! It might also be referred to as acetylated lanolin alcohol, athoxylated lanolin, PEG 16 lanolin or the less common name of solulan 16.</p>

<p>2. Benzaldehyde</p>

<p>This is an added fragrance used in cosmetics and skin-care products to give the product a nice scent. This, however, is one scent we can do without as it is rated at about 3.5 on the comedogenic scale and clogs and irritates the skin the way all artificial fragrances tend to do.
</p>
<p>
3. Isopropyl Palmitate</p>
<p>
This fatty acid is a common ingredient in many tinted moisturizers and is rated as a 4 on the comedegenic scale. If a tinted moisturizer claims to be ‘non-comedegenic’, but this ingredient is on the label then you know you are being fooled!</p>
<p>
4. Ethyhexyl Palmitate</p>
<p>
NARS may be a high-end make-up brand, but this horrible ingredient is found in their bronzer. Like Isopropyl Palmitate, Ethyhexyl Palmitate is also a fatty acid and rated as a 4 on the comedogenic scale. This ingredient is more than likely to result in small irritating bumps as a result of severe clogged pores.
</p><p>
5. Lauric Acid</p>
<p>
Rated as high as a four on the comedogenic scale, this is one fatty acid we don’t want in our lives, but is common in many well-known cosmetics and skin products. Keep in mind, while lauric acid is found on the comedogenic scale, it is also found in coconut oil, and as we found out in a previous post,
organic coconut oil is beneficial for your body. So before you deduce that lauric acid is the culprit, make sure there are no other factors like hormonal imbalance or poor diet contributing to flare ups.
</p>
<p>
6. Sodium Chloride
</p>
<p>
The fancy name for salt, sodium chloride is an actual ingredient in some cosmetics including certain foundations. Who knew! Whilst you would probably consider salt to have exfoliating properties, it in fact does the opposite and clogs up your pores quite badly. Rated as a five on the comedogenic scale, sodium chloride should be avoided.
</p>
<p>7. Shea Butter </p>
<p>
Shea butter is absolutely wonderful for moisturizing the body, but problems arise when it is applied to the face. It is too rich and high on the comedogenic scale for its pore-clogging abilities. So use it on your body, but leave your face out of it!
</p>

</br></br>

<h4>Q&A #1: Is shea butter pore clogging for acne?</h4>
<h5>Revised: Dec. 12, 2017</h5>
<%= image_tag("https://target.scene7.com/is/image/Target/13689990?wid=520&hei=520&fmt=pjpeg", height: '200', width: '200') %>
<p>
Many of you are probably wondering why Shea Butter doesn’t appear on this list. A friend of mine commented on a previous blog post voicing their concerns over the use of shea butter in cosmetics and it was her comment that got me thinking about all the different pore clogging ingredients in skin care and make up. It’s a complete myth that Shea Butter is pore clogging! In fact, Shea Butter has a comedogenic rating of 0, meaning that it’s very unlikely to clog pores! Before I researched it, I too thought Shea Butter was a definite no-no for acne prone skin, I mean – the texture alone feels so thick and heavy, nothing like the light acne-friendly oils such as Hemp that I was so accustomed to using.
</p>
<p>
Shea Butter is also rich in Vitamin A, E and K which are all great for acne-prone skin and also contains unique cinnamic esters that have anti-inflammatory, antimicrobial and antibacterial properties! Obviously, everyones skin reacts differently to different ingredients but Shea butter is generally very well tolerated by acne sufferers and can even improve the condition.
</p>
<p>
If you think you’re reacting badly to a product and thought that Shea Butter was to blame, it’s worth looking back at the formulation and cross referencing with the pore clogging ingredients below! You’ll probably find a number of other ingredients that could actually be the issue! For example, Shea Butter is often teamed with Cocoa Butter which is highly comedogenic and much more likely to be the reason behind your clogged pores! 
</p>
</div>