// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.faves_each {
	float:left;
	display: inline-block;
	margin-bottom: 15px;
	width: 310px;
}

.faves_content {
	margin-top: 15px;
	color: rgba(0,0,0,1);
	width: 100%;
}

.back_btn a:link {
	color: rgba(0,0,0,1);
}

