// Place all the styles related to the recommend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select2-container {
	color: #333;
}

.select_all {
	border-bottom: 1px solid rgba(0,0,0,1);
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.brand {
	width: 100%;
}

.product_type {
	width: 100%;
}

.brand_product {
	display: inline-block;
	width: 100%;
	margin: 10px 0 5px 0;
}

.chart_container {
	position: relative;
	min-height: 200px;
}

.chart_container p {
	text-align: center;
	color: rgba(0,0,0,1);
	font-family: 'Inconsolata';
	font-weight: 400;
	font-size: 20px;
}

.collapse_view {
	width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    margin-top:1px;
}

// overwrite some of .well from bootstrap for expanded view
.well {
	border-radius: 0;
	padding: 0 0 0 20px;
	margin-bottom: 0;
	background-color: rgba(255,255,255,1);
	border: none;
	box-shadow: none;
}

.ingredient_detail {
	border-bottom: 1px solid rgba(0,0,0,1);
	margin-bottom: 15px;
}

.product_claims {
	
}

.amazon_buy {
	border: 1px solid rgba(0,0,0,1);
	padding: 12px;
	float: left;
	margin: 5px;
}

.amazon_buy:hover {
	background-color:rgba(1,1,1,0.1);
}

.report_error {
	border: 1px solid rgba(0,0,0,1);
	padding: 12px;
	float: left;
	margin: 5px 0 0 5px;
}

.report_error:hover {
  background-color: rgba(1,1,1,0.1);
}

.remove_faves, .add_faves {
	color: rgba(0,0,0,1);
	border: 1px solid rgba(0,0,0,1);
	padding: 12px;
	float: left;
	margin: 5px 5px 0 0;
	text-align: center;
}

.remove_faves:hover, .add_faves:hover {
	background-color: rgba(1,1,1,0.1);
}

.title {
	color: rgba(220,153,38,1);
	float: left;
}

.stats_skin_type, .stats_ethnicity, .stats_age {
	text-align: center;
}

.chart_inner {
	width: 130px;
	float: left;
	margin-top: -20px;
}

.chart_inner_mobile {
	width: 130px;
	float: left;
	margin-top: -20px;
}

.chart_inner_text {
	position: relative;
	top: 82px;
	left: 97px;
}

.chart_container_donut {
	width: 555px;
	height: 100%;
	position: relative;
	float: right;
}

// height in inline css 
.chart_container_donut canvas {
	margin-left: -45px;
}

.details_container {
	width: 345px;
	height: 100%;
	position: relative;
	float: left;
}

.question {
	float: right;
	clear: both;
}

.function {
	margin-bottom: 6px;
}

// mobile device smaller screen
@media only screen and (max-width: 768px) { 
  // for donut charts in blacklist, recommend, results views
  .chart_inner_mobile {clear:both; float: left;}
  .chart_container_donut { width: 100%; float: left;}
  .details_container {width: 100%;}
  .chart_container_donut canvas {margin-left: -100px;}
  .chart_inner_text {left: 40px;}
}